@import "_reset";
@import "../src/fonts/_fonts";
@import "../src/colors/_colors";

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;

  @media (max-width: 600px) {
    font-size: 32px;
  }
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

p {
  @extend %paragraph;
}

html,
body {
  @extend %paragraph;
  color: $second-text-color;
  background-color: #fafafa;
  height: 100%;
}


/*Wrapper======================================================*/
.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}


/*Container======================================================*/
._container {
  max-width: 1046+30+30px;
  margin: 0 auto;
  padding: 0 30px;
}


/*Images Container======================================================*/
._ibg {
  position: relative;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}


/*Header======================================================*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &__container {
    display: flex;
    min-height: 104px;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 425px) {
      min-height: 70px;
    }
  }

  &__logo {
    @extend %h3;
    color: $text_color;
    text-decoration: 0;

    transition: color .2s ease;
    &:hover, &:focus{
      color: $second_text_color;
    }
  }

  &__menu{
    //margin: 0 0 0 132px;
  }

  &__nav-btn {
    display: none;
    @media (max-width: 990px) {
      display: block;
    }
  }
}

.menu {
  margin: 5px 0;

  &__list {
    display: flex;
    //flex-wrap: wrap;

    @media (max-width: 990px) {
      display: none;
    }
  }

  &__item {
    *:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }

  &__link {
    @extend %link;
    text-decoration: 0;
    color: $secondary-color-2;

    @media screen and (max-width: 450px) {
      font-size: 16px;
      color: $second_text_color;
    }

    transition: color .2s ease;

    &:hover, &:focus {
      color: $text_color;
      border-bottom: 2px solid $text-color;
      @media screen and (max-width: 450px) {
        color: $second_text_color;
      }
    }
  }
}

.nav-btn-header {
  background-color: transparent;


  transition: .2s ease;
  &:hover {
    opacity: .6;
  }

  img {
    height: 24px;
    width: 24px;
    display: flex
  }
}


/*Page======================================================*/
.page {
  flex: 1 1 auto;

  &__services {
    position: relative;
    z-index: 3;
    margin: -111px 0 0 0;
  }

  &__who-we-are {
    background-color: #FFFFFF;
  }

  &__clients {
  }

  &__subscribe:not(:last-child) {
    margin: 0 0 10px 0;
  }
}


/*Header Block======================================================*/
.header-block {
  text-align: center;

  & > *:not(:last-child) {
    padding-bottom: 10px;
  }

  &__title {
    color: $text-color;

  }

  &__text {
    color: $second-text-color;

  }
}


/*Main Block======================================================*/
.main-block {
  position: relative;

  &__container {
    .main-block__body {
      padding: 184px 0 191px 0;
      position: relative;
      z-index: 2;
      max-width: 400px;

      @media screen and (max-width: 990px) {
        padding: 120px 0 191px 0;
      }

      & > *:not(:last-child) {
        margin: 0 0 35px 0;
      }

      .main-block__title {
        color: $text-color;

        @media screen and (max-width: 450px) {
          color: $secondary-color-2;
          font-size: 42px;
        }
      }
      .main-block__text {
        max-width: 380px;
        color: $secondary-color-2;
      }
      .main-block__buttons {
        display: flex;
        flex-wrap: wrap;
        margin: -10px 0;

        .main-block__button {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          min-height: 28px;//?
          @extend %btn-text;
          padding: 10px 36px;
          color: $light-text-color;
          background-color: $primary-color;
          border: 1px solid $primary-color;
          border-radius: 37px;
          text-decoration: 0;
          margin: 10px 0;
          cursor: pointer;

          transition: all .2s ease;

          &:not(:last-child) {
            @media (min-width: 450px) {
              margin-right: 20px;
            }
          }

          &:hover, &:focus {
            opacity: .9;
            transform: translate3d(0,-4px, 0);
          }

          &:active {
            opacity: 1;
            transform: translate3d(0,4px, 0);
          }

          @media screen and (max-width: 450px) {
            flex: 1 1 100%;
          }
        }
        .main-block__button_border {
          color: $secondary-color-1;
          background-color: transparent;
          border: 1px solid $secondary-color-1;

          &:hover, &:focus {
            background-color: $secondary-color-1;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .6;


    & img {
      @media screen and (max-width: 1300px) {
        object-position: right;
      }

      @media screen and (max-width: 990px) {
      }
    }
  }
}


/*Services======================================================*/
.services {
  &__body {
    @media (min-width: 770px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }
  }

  &__column {
    flex: 0 1 33.333%;

    @media (min-width: 770px) {
      padding: 0 15px;
    }

    @media (max-width: 990px) {
      flex: 0 1 50%;

      &:not(:last-child) {
        margin: 0 0 30px 0;
      }

      &:last-child {
        flex: 0 1 100%;
      }
    }
    .item-service {

    }
  }

  &__item {
    height: 100%;
    padding: 30px 40px;
    background-color: #ffffff;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 30px;

    transition: .2s ease;

    *:not(:last-child) {
      padding-bottom: 10px
    }

    &:hover {
      cursor: pointer;

      background-color: $secondary-color-1;

      .item-service__icon {
        .item-service_white {
          display: block;
        }

        .item-service_blue {
          display: none;
        }
      }

      .item-service__title {
        color: $light-text-color;
      }

      .item-service__text {
        color: $light-text-color;
      }

    }

    .item-service__icon {
      height: 48px;

      .item-service_white {
        display: none;
      }

      .item-service_blue {
      }
    }

    .item-service__title {
      color: $text-color;

      @media (max-width: 450px) {
        font-size: 20px;
      }
    }

    .item-service__text {
      @media (max-width: 450px) {
        font-size: 12px;
      }
    }
  }

}


/*Advantages======================================================*/
.advantages {
  margin: 80px 0;

  @media (max-width: 770px) {
    margin: 40px 0;
  }

  .item-advantages {
    &__icon {
      align-items: center;
      justify-content: center;
    }

    &__value {
      color: $text-color;

      @media (max-width: 600px) {
        font-size: 32px;
      }
    }

    &__text {
      color: $second-text-color;

      @media (max-width: 600px) {
        font-size: 14px;
      }
    }
  }

  &__header {
    margin-bottom: 50px;

    @media (max-width: 770px) {
      margin-bottom: 30px;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
  }

  &__column {
    padding: 0 15px 30px;
    flex: 0 1 25%;

    @media (max-width: 1100px) {
      flex: 0 1 50%;
    }

    @media (max-width: 600px) {
      flex: 0 1 100%;
    }
  }

  &__item {
    background-color: #FFFFFF;
    border-radius: 30px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  }
}


/*Practice======================================================*/
.practice {
  margin-bottom: 80px;

  @media (max-width: 770px) {
    margin-bottom: 40px;
  }

  &__header {
    margin-bottom: 50px;

    @media (max-width: 770px) {
      margin-bottom: 30px;
    }
  }

  &__body {
    margin: 0 -15px -30px;
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    padding: 0 15px 30px;
    flex: 0 1 25%;

    @media (max-width: 1100px) {
      flex: 0 1 50%;
    }

    @media (max-width: 600px) {
      flex: 0 1 100%;
    }
  }
}

.item-practice {
  background-color: #ffffff;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  display: flex;
  height: 100%;
  flex-direction: column;

  &__content {
    flex: 1 1 auto;
  }

  &__content {
    padding: 30px 40px;


    *:not(:last-child) {
      padding-bottom: 10px;
    }
  }

  &__link {
    display: inline-block;
  }

  &__title {
    color: $text-color;

    &:hover {
      color: $second-text-color;
    }
  }

  &__text {
    color: $second-text-color;
  }

  &__image {
    display: block;
    padding: 0 0 60% 0;
    border-radius: 0 0 30px 30px;


    img {
      border-radius: 0 0 30px 30px;
    }
  }
}


/*Who=we=are======================================================*/
.who-we-are {
  padding: 100px 0 100px 0;

  @media (max-width: 800px) {
    padding: 30px 0 30px 0;
  }

  &__header {
    margin: 0 0 100px 0;

    @media (max-width: 800px) {
      margin: 0 0 30px 0;
    }

  }

  &__body {
    display: flex;
    align-items: flex-start;

    @media (max-width: 950px) {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }


  &__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0 0 43.25% 0;

    @media (max-width: 900px) {
      padding: 0 0 62.25% 0;
      
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;

      border-radius: 30px;
      box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);

    }

    @media (max-width: 950px) {
      margin-top: 30px;
    }
  }

  &__content {
    flex: 1 1 auto;
    margin: 10px 0 0 60px;

    @media (max-width: 1100px) {
      margin: 0 0 0 30px;
    }

    @media (max-width: 950px) {
      margin: 0 0 0 0;
    }
  }

  &__top {
    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }

  &__title {
    color: $text-color;

    &:not(:last-child){
      margin: 0 0 10px 0;
    }

    @media (max-width: 600px) {
      font-size: 28px ;
    }
  }

  &__text {
    color: $second-text-color;

    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }



  &__items {
  }

  &__item {
  }
}

.item-who-we-are {
  display: flex;

  &:not(:last-child) {
    padding-bottom: 30px;
  }

  &__icon {
    flex: 0 0 32px;
  }

  &__body {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
  }

  &__title {
    color: $text-color;

    &:not(:last-child) {
      padding-bottom: 5px;
    }
  }

  &__text {
    color: $second-text-color;
  }
}


/*Clients======================================================*/
.clients {
  padding: 50px 0;

  @media (max-width: 770px) {
    padding: 30px 0;
  }


  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    padding: 15px;
    flex: 0 1 16.66%;
    text-align: center;
    min-width: 100px;

    img {
      max-width: 100%;
    }
  }
}


/*Subscribe=====================================================*/
.subscribe {
  position: relative;

  &:after {
    content: "";
    display: block;
    height: 77px;
    width: 100%;
    background-color: $dark-background-color;
    margin-top: -56px;
  }

  &__container {
  }

  &__body {
    position: relative;
    z-index: 2;

    background-color: $secondary-color-2;
    border-radius: 30px;
    padding: 30px 40px;
    margin: 0 30px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    @media (max-width: 800px) {
      margin: 0 -30px ;
      padding: 20px 30px;

    }
  }

  &__title {
    color: $light-text-color;
    flex: 0 1 50%;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    @media (max-width: 800px) {
      flex: 1 1 auto;
    }

    @media (max-width: 500px) {
      font-size: 18px;
    }
  }

  &__form {
    flex: 0 1 50%;
    display: flex;

    @media (max-width: 800px) {
      flex: 1 1 auto;
    }
  }

  &__input {
    flex: 1 1 auto;
    padding-left: 30px;
    border-radius: 20px 0  0 20px;
    width: 100%;

    color: $second-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;

    transition: 0.2s ease;
    &:hover {
      color: $secondary-color-2;
      opacity: .9;

    }
  }

  &__button {
    color: $light-text-color;
    background-color: $primary-color;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 20px 20px 0;
    padding: 15px 22px;
    cursor: pointer;


    transition: .2s ease;
    &:hover {
      opacity: .9;
    }

    @media (max-width: 500px) {
      min-height: 38px;

    }
  }
}


/*button_rectangle=================================================*/
.button {
  &_rectangle {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;

    transition: .2s ease;

    &:hover, &:focus {
      opacity: .9;
      transform: translate3d(0,-4px, 0);
    }

    &:active {
      opacity: 1;
      transform: translate3d(0,4px, 0);
    }

  }
}


/*Get=in=touch=================================================*/
.get-in-touch {
  margin: 80px 0;

  @media (max-width: 770px) {
    margin: 30px 0;

  }


  &_container {
    margin: 0 30px;

    @media (max-width: 770px) {
      margin: 0 0;

    }
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: 80px;

      @media (max-width: 770px) {
        margin: 30px;
      }
    }
  }

  &__column {
    padding: 0 30px 30px;
    @media (min-width: 992px) {
      padding: 0 30px 30px;
    }
  }

  &__items {
    height: 100%;
    justify-content: center;

    @media (min-width: 992px) {
      display: flex;
      align-items: center;
    }

  }

  &__item {
    flex: 0 1 33.33%;
    margin: 0 -15px;

    @media (max-width: 770px) {
      margin: 0 -30px 0;
    }
  }

  &__emails {
    text-align: center;
  }

  &__email {
    color: $text-color;
    @extend %h6;

    &:hover, &:focus {
      border-bottom: 1px solid $text-color;
    }
  }
}

.item-get-in-touch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  padding: 50px;

  &>*:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (max-width: 770px) {
    padding: 30px;
    
  }

  &_blue {
    color: #FFFFFF;
    background-color: $text-color;
    padding: 80px 50px;

    .item-get-in-touch__label {
      color: $light-text-color;
    }

    .get-in-touch__email {
      color: $light-text-color;

      &:hover, &:focus {
        border-bottom: 1px solid $light-text-color;
      }
    }

    .item-get-in-touch__button {
      border: 1px solid $light-text-color;
      color: $light-text-color;
      background-color: transparent;

      &:hover, &:focus {
        background-color: $light-text-color;
        color: $text-color;
      }
    }
  }

  &__label {
    color: $text-color;
  }

  &__button {
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: $light-text-color;

    &:hover, &:focus {
      background-color: $primary-color;
      color: $light-text-color;
    }
  }
}

/*Contacts======================================================*/
.contacts {
  background-color: $light-text-color;

  &__body {
    @media (min-width: 700px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 0;

      .contacts__content {
        margin-bottom: 0;
      }
    }

    padding: 30px 0;
  }

  &__content {
    margin-bottom: 20px;
    padding-right: 20px;

    &>*:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__label {
    color: $text-color;
  }

  &__text {
    color: $second-text-color;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: $light-text-color;
  }
}

/*Footer======================================================*/
.footer {
  background-color: $secondary-color-2;
  padding: 50px 0 30px;

  @media (max-width: 777px) {
    padding: 30px 0 30px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  &__colum {

    &:not(:last-child) {
      padding-right: 30px;
    }
  }

  &__label {
    margin-bottom: 20px;
    color: $light-text-color;
  }

  &__menu {
  }

  &__list {
    margin-bottom: 20px;


    &>*:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    a {
      color: $light-text-color;
    }

    transition: all .2s ease;
    &:hover, &:focus{
      opacity: .5;
    }

  }

  &__contacts {
  }
}

.contacts-footer {
  max-width: 250px;

  &__list {
  }

  &__item {

    &:not(:last-child) {
      padding-bottom: 10px;
    }

    img {
      padding-right: 10px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__data {
    color: $light-text-color;
    max-height: 23px;
    overflow: hidden;

  }
}



/*Copyright======================================================*/
.copyright {
  background-color: #FFFFFF;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    margin: 25px 20px 25px 0;
  }

  &__link {
    color: $primary_color;

    &:hover, &:focus {
      border-bottom: 1px solid $primary_color;
    }
  }

}