@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
}

.header .header__container .header__logo, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  letter-spacing: 0.1px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.get-in-touch__email, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
}

.main-block__container .main-block__body .main-block__buttons .main-block__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
}

html,
body, p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.8571428571%;
  letter-spacing: 0.2px;
}

.header .header__container .header__menu .menu__list .menu__item .menu__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
}

@media (max-width: 600px) {
  h2 {
    font-size: 32px;
  }
}

html,
body {
  color: #737373;
  background-color: #fafafa;
  height: 100%;
}

/*Wrapper======================================================*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*Container======================================================*/
._container {
  max-width: 1106px;
  margin: 0 auto;
  padding: 0 30px;
}

/*Images Container======================================================*/
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*Header======================================================*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header .header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .header .header__container {
    min-height: 70px;
  }
}
.header .header__container .header__logo {
  color: #252B42;
  text-decoration: 0;
  transition: color 0.2s ease;
}
.header .header__container .header__logo:hover, .header .header__container .header__logo:focus {
  color: #737373;
}
.header .header__container .menu {
  padding: 5px 0;
}
.header .header__container .header__menu {
  margin: 0 0 0 132px;
}
@media screen and (max-width: 768px) {
  .header .header__container .header__menu {
    margin: 0 0 0 40px;
  }
}
.header .header__container .header__menu .menu__list {
  display: flex;
  flex-wrap: wrap;
}
.header .header__container .header__menu .menu__list .menu__item *:not(:last-child) {
  margin: 0 20px 0 0;
}
.header .header__container .header__menu .menu__list .menu__item .menu__link {
  text-decoration: 0;
  color: #737373;
  transition: color 0.2s ease;
}
@media screen and (max-width: 450px) {
  .header .header__container .header__menu .menu__list .menu__item .menu__link {
    font-size: 16px;
    color: #17213C;
  }
}
.header .header__container .header__menu .menu__list .menu__item .menu__link:hover, .header .header__container .header__menu .menu__list .menu__item .menu__link:focus {
  color: #252B42;
  border-bottom: 2px solid #252B42;
}
@media screen and (max-width: 450px) {
  .header .header__container .header__menu .menu__list .menu__item .menu__link:hover, .header .header__container .header__menu .menu__list .menu__item .menu__link:focus {
    color: #737373;
  }
}

/*Page======================================================*/
.page {
  flex: 1 1 auto;
}
.page__services {
  position: relative;
  z-index: 3;
  margin: -111px 0 0 0;
}
.page__who-we-are {
  background-color: #FFFFFF;
}
.page__subscribe:not(:last-child) {
  margin: 0 0 10px 0;
}
/*Header Block======================================================*/
.header-block {
  text-align: center;
}
.header-block > *:not(:last-child) {
  padding-bottom: 10px;
}
.header-block__title {
  color: #252B42;
}
.header-block__text {
  color: #737373;
}

/*Main Block======================================================*/
.main-block {
  position: relative;
}
.main-block__container .main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
@media screen and (max-width: 990px) {
  .main-block__container .main-block__body {
    padding: 120px 0 191px 0;
  }
}
.main-block__container .main-block__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}
.main-block__container .main-block__body .main-block__title {
  color: #252B42;
}
@media screen and (max-width: 450px) {
  .main-block__container .main-block__body .main-block__title {
    color: #17213C;
    font-size: 42px;
  }
}
.main-block__container .main-block__body .main-block__text {
  max-width: 380px;
}
@media (max-width: 990px) {
  .main-block__container .main-block__body .main-block__text {
    color: #17213C;
  }
}
.main-block__container .main-block__body .main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__container .main-block__body .main-block__buttons .main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 28px;
  padding: 10px 36px;
  color: #FFFFFF;
  background-color: #FF7B47;
  border: 1px solid #FF7B47;
  border-radius: 37px;
  text-decoration: 0;
  margin: 10px 0;
  transition: all 0.2s ease;
}
@media (min-width: 450px) {
  .main-block__container .main-block__body .main-block__buttons .main-block__button:not(:last-child) {
    margin-right: 20px;
  }
}
.main-block__container .main-block__body .main-block__buttons .main-block__button:hover, .main-block__container .main-block__body .main-block__buttons .main-block__button:focus {
  opacity: 0.9;
  transform: translate3d(0, -4px, 0);
}
.main-block__container .main-block__body .main-block__buttons .main-block__button:active {
  opacity: 1;
  transform: translate3d(0, 4px, 0);
}
@media screen and (max-width: 450px) {
  .main-block__container .main-block__body .main-block__buttons .main-block__button {
    flex: 1 1 100%;
  }
}
.main-block__container .main-block__body .main-block__buttons .main-block__button_border {
  color: #0D5C63;
  background-color: transparent;
  border: 1px solid #0D5C63;
}
.main-block__container .main-block__body .main-block__buttons .main-block__button_border:hover, .main-block__container .main-block__body .main-block__buttons .main-block__button_border:focus {
  background-color: #0D5C63;
  color: #FFFFFF;
}
.main-block .main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1300px) {
  .main-block .main-block__image img {
    object-position: right;
  }
}
@media screen and (max-width: 990px) {
  .main-block .main-block__image img {
    opacity: 0.5;
  }
}

/*Services======================================================*/
@media (min-width: 770px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}
.services__column {
  flex: 0 1 33.333%;
}
@media (min-width: 770px) {
  .services__column {
    padding: 0 15px;
  }
}
@media (max-width: 990px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .services__column:last-child {
    flex: 0 1 100%;
  }
}
.services__item {
  height: 100%;
  padding: 30px 40px;
  background-color: #ffffff;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  transition: 0.2s ease;
}
.services__item *:not(:last-child) {
  padding-bottom: 10px;
}
.services__item:hover {
  background-color: #0D5C63;
}
.services__item:hover .item-service__icon .item-service_white {
  display: block;
}
.services__item:hover .item-service__icon .item-service_blue {
  display: none;
}
.services__item:hover .item-service__title {
  color: #FFFFFF;
}
.services__item:hover .item-service__text {
  color: #FFFFFF;
}
.services__item .item-service__icon {
  height: 48px;
}
.services__item .item-service__icon .item-service_white {
  display: none;
}
.services__item .item-service__title {
  color: #252B42;
}
@media (max-width: 450px) {
  .services__item .item-service__title {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .services__item .item-service__text {
    font-size: 12px;
  }
}

/*Advantages======================================================*/
.advantages {
  margin: 80px 0;
}
@media (max-width: 770px) {
  .advantages {
    margin: 40px 0;
  }
}
.advantages .item-advantages__icon {
  align-items: center;
  justify-content: center;
}
.advantages .item-advantages__value {
  color: #252B42;
}
@media (max-width: 600px) {
  .advantages .item-advantages__value {
    font-size: 32px;
  }
}
.advantages .item-advantages__text {
  color: #737373;
}
@media (max-width: 600px) {
  .advantages .item-advantages__text {
    font-size: 14px;
  }
}
.advantages__header {
  margin-bottom: 50px;
}
@media (max-width: 770px) {
  .advantages__header {
    margin-bottom: 30px;
  }
}
.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.advantages__column {
  padding: 0 15px 30px;
  flex: 0 1 25%;
}
@media (max-width: 1100px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 600px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}
.advantages__item {
  background-color: #FFFFFF;
  border-radius: 30px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}

/*Practice======================================================*/
.practice {
  margin-bottom: 80px;
}
@media (max-width: 770px) {
  .practice {
    margin-bottom: 40px;
  }
}
.practice__header {
  margin-bottom: 50px;
}
@media (max-width: 770px) {
  .practice__header {
    margin-bottom: 30px;
  }
}
.practice__body {
  margin: 0 -15px -30px;
  display: flex;
  flex-wrap: wrap;
}
.practice__column {
  padding: 0 15px 30px;
  flex: 0 1 25%;
}
@media (max-width: 1100px) {
  .practice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 600px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.item-practice {
  background-color: #ffffff;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.item-practice__content {
  flex: 1 1 auto;
}
.item-practice__content {
  padding: 30px 40px;
}
.item-practice__content *:not(:last-child) {
  padding-bottom: 10px;
}
.item-practice__link {
  display: inline-block;
}
.item-practice__title {
  color: #252B42;
}
.item-practice__title:hover {
  color: #737373;
}
.item-practice__text {
  color: #737373;
}
.item-practice__image {
  display: block;
  padding: 0 0 60% 0;
  border-radius: 0 0 30px 30px;
}
.item-practice__image img {
  border-radius: 0 0 30px 30px;
}

/*Who=we=are======================================================*/
.who-we-are {
  padding: 100px 0 100px 0;
}
@media (max-width: 800px) {
  .who-we-are {
    padding: 30px 0 30px 0;
  }
}
.who-we-are__header {
  margin: 0 0 100px 0;
}
@media (max-width: 800px) {
  .who-we-are__header {
    margin: 0 0 30px 0;
  }
}
.who-we-are__body {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 950px) {
  .who-we-are__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
.who-we-are__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 43.25% 0;
}
@media (max-width: 900px) {
  .who-we-are__video {
    padding: 0 0 62.25% 0;
  }
}
.who-we-are__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}
@media (max-width: 950px) {
  .who-we-are__video {
    margin-top: 30px;
  }
}
.who-we-are__content {
  flex: 1 1 auto;
  margin: 10px 0 0 60px;
}
@media (max-width: 1100px) {
  .who-we-are__content {
    margin: 0 0 0 30px;
  }
}
@media (max-width: 950px) {
  .who-we-are__content {
    margin: 0 0 0 0;
  }
}
.who-we-are__top:not(:last-child) {
  margin: 0 0 30px 0;
}
.who-we-are__title {
  color: #252B42;
}
.who-we-are__title:not(:last-child) {
  margin: 0 0 10px 0;
}
@media (max-width: 600px) {
  .who-we-are__title {
    font-size: 28px;
  }
}
.who-we-are__text {
  color: #737373;
}
.who-we-are__text:not(:last-child) {
  padding-bottom: 10px;
}
.item-who-we-are {
  display: flex;
}
.item-who-we-are:not(:last-child) {
  padding-bottom: 30px;
}
.item-who-we-are__icon {
  flex: 0 0 32px;
}
.item-who-we-are__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}
.item-who-we-are__title {
  color: #252B42;
}
.item-who-we-are__title:not(:last-child) {
  padding-bottom: 5px;
}
.item-who-we-are__text {
  color: #737373;
}

/*Clients======================================================*/
.clients {
  padding: 50px 0;
}
@media (max-width: 770px) {
  .clients {
    padding: 30px 0;
  }
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.clients__item {
  padding: 15px;
  flex: 0 1 16.66%;
  text-align: center;
  min-width: 100px;
}
.clients__item img {
  max-width: 100%;
}

/*Subscribe=====================================================*/
.subscribe {
  position: relative;
}
.subscribe:after {
  content: "";
  display: block;
  height: 77px;
  width: 100%;
  background-color: #252B42;
  margin-top: -56px;
}
.subscribe__body {
  position: relative;
  z-index: 2;
  background-color: #17213C;
  border-radius: 30px;
  padding: 30px 40px;
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 800px) {
  .subscribe__body {
    margin: 0 -30px;
    padding: 20px 30px;
  }
}
.subscribe__title {
  color: #FFFFFF;
  flex: 0 1 50%;
}
.subscribe__title:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 800px) {
  .subscribe__title {
    flex: 1 1 auto;
  }
}
@media (max-width: 500px) {
  .subscribe__title {
    font-size: 18px;
  }
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
}
@media (max-width: 800px) {
  .subscribe__form {
    flex: 1 1 auto;
  }
}
.subscribe__input {
  flex: 1 1 auto;
  padding-left: 30px;
  border-radius: 20px 0 0 20px;
  width: 100%;
  color: #737373;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  transition: 0.2s ease;
}
.subscribe__input:hover {
  color: #17213C;
  opacity: 0.9;
}
.subscribe__button {
  color: #FFFFFF;
  background-color: #FF7B47;
  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 20px 20px 0;
  padding: 15px 22px;
  transition: 0.2s ease;
}
.subscribe__button:hover {
  opacity: 0.9;
}
@media (max-width: 500px) {
  .subscribe__button {
    min-height: 38px;
  }
}

/*button_rectangle=================================================*/
.button_rectangle {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.2s ease;
}
.button_rectangle:hover, .button_rectangle:focus {
  opacity: 0.9;
  transform: translate3d(0, -4px, 0);
}
.button_rectangle:active {
  opacity: 1;
  transform: translate3d(0, 4px, 0);
}

/*Get=in=touch=================================================*/
.get-in-touch {
  margin: 80px 0;
}
@media (max-width: 770px) {
  .get-in-touch {
    margin: 30px 0;
  }
}
.get-in-touch_container {
  margin: 0 30px;
}
@media (max-width: 770px) {
  .get-in-touch_container {
    margin: 0 0;
  }
}
.get-in-touch__header:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 770px) {
  .get-in-touch__header:not(:last-child) {
    margin: 30px;
  }
}
.get-in-touch__column {
  padding: 0 30px 30px;
}
@media (min-width: 992px) {
  .get-in-touch__column {
    padding: 0 30px 30px;
  }
}
.get-in-touch__items {
  height: 100%;
  justify-content: center;
}
@media (min-width: 992px) {
  .get-in-touch__items {
    display: flex;
    align-items: center;
  }
}
.get-in-touch__item {
  flex: 0 1 33.33%;
  margin: 0 -15px;
}
@media (max-width: 770px) {
  .get-in-touch__item {
    margin: 0 -30px 0;
  }
}
.get-in-touch__emails {
  text-align: center;
}
.get-in-touch__email {
  color: #252B42;
}
.get-in-touch__email:hover, .get-in-touch__email:focus {
  border-bottom: 1px solid #252B42;
}

.item-get-in-touch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  padding: 50px;
}
.item-get-in-touch > *:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 770px) {
  .item-get-in-touch {
    padding: 30px;
  }
}
.item-get-in-touch_blue {
  color: #FFFFFF;
  background-color: #252B42;
  padding: 80px 50px;
}
.item-get-in-touch_blue .item-get-in-touch__label {
  color: #FFFFFF;
}
.item-get-in-touch_blue .get-in-touch__email {
  color: #FFFFFF;
}
.item-get-in-touch_blue .get-in-touch__email:hover, .item-get-in-touch_blue .get-in-touch__email:focus {
  border-bottom: 1px solid #FFFFFF;
}
.item-get-in-touch_blue .item-get-in-touch__button {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
}
.item-get-in-touch_blue .item-get-in-touch__button:hover, .item-get-in-touch_blue .item-get-in-touch__button:focus {
  background-color: #FFFFFF;
  color: #252B42;
}
.item-get-in-touch__label {
  color: #252B42;
}
.item-get-in-touch__button {
  border: 1px solid #FF7B47;
  color: #FF7B47;
  background-color: #FFFFFF;
}
.item-get-in-touch__button:hover, .item-get-in-touch__button:focus {
  background-color: #FF7B47;
  color: #FFFFFF;
}

/*Footer======================================================*/

/*# sourceMappingURL=style.css.map */
