@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
}

.header .header__container .header__logo, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  letter-spacing: 0.1px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
}

.main-block .main-block__container .main-block__body .main-block__buttons .main-block__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
}

html,
body, p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.8571428571%;
  letter-spacing: 0.2px;
}

.header .header__container .header__menu .menu__list .menu__item .menu__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
}

html,
body {
  color: #737373;
  background-color: #fafafa;
  height: 100%;
}

/*Wrapper*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*Container*/
._container {
  max-width: 1106px;
  margin: 0 auto;
  padding: 0 30px;
}

/**/
._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*Header*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header .header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .header .header__container {
    min-height: 70px;
  }
}
.header .header__container .header__logo {
  color: #252B42;
  text-decoration: 0;
  transition: color 0.2s ease;
}
.header .header__container .header__logo:hover, .header .header__container .header__logo:focus {
  color: #737373;
}
.header .header__container .menu {
  padding: 5px 0;
}
.header .header__container .header__menu {
  margin: 0 0 0 132px;
}
@media screen and (max-width: 768px) {
  .header .header__container .header__menu {
    margin: 0 0 0 40px;
  }
}
.header .header__container .header__menu .menu__list {
  display: flex;
  flex-wrap: wrap;
}
.header .header__container .header__menu .menu__list .menu__item *:not(:last-child) {
  margin: 0 20px 0 0;
}
.header .header__container .header__menu .menu__list .menu__item .menu__link {
  text-decoration: 0;
  color: #737373;
  transition: color 0.2s ease;
}
@media screen and (max-width: 450px) {
  .header .header__container .header__menu .menu__list .menu__item .menu__link {
    font-size: 16px;
    color: #17213C;
  }
}
.header .header__container .header__menu .menu__list .menu__item .menu__link:hover, .header .header__container .header__menu .menu__list .menu__item .menu__link:focus {
  color: #252B42;
  border-bottom: 2px solid #252B42;
}
@media screen and (max-width: 450px) {
  .header .header__container .header__menu .menu__list .menu__item .menu__link:hover, .header .header__container .header__menu .menu__list .menu__item .menu__link:focus {
    color: #737373;
  }
}

/*Page*/
.page {
  flex: 1 1 auto;
}
.page .page__services {
  position: relative;
  z-index: 3;
  margin: -111px 0 0 0;
}

/*Main Block*/
.main-block {
  position: relative;
}
.main-block .main-block__container .main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
@media screen and (max-width: 990px) {
  .main-block .main-block__container .main-block__body {
    padding: 120px 0 191px 0;
  }
}
.main-block .main-block__container .main-block__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}
.main-block .main-block__container .main-block__body .main-block__title {
  color: #252B42;
}
@media screen and (max-width: 450px) {
  .main-block .main-block__container .main-block__body .main-block__title {
    color: #17213C;
    font-size: 42px;
  }
}
.main-block .main-block__container .main-block__body .main-block__text {
  max-width: 380px;
}
@media (max-width: 990px) {
  .main-block .main-block__container .main-block__body .main-block__text {
    color: #17213C;
  }
}
.main-block .main-block__container .main-block__body .main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block .main-block__container .main-block__body .main-block__buttons .main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 28px;
  padding: 10px 36px;
  color: #FFFFFF;
  background-color: #FF7B47;
  border: 1px solid #FF7B47;
  border-radius: 37px;
  text-decoration: 0;
  margin: 10px 0;
  transition: all 0.2s ease;
}
@media (min-width: 450px) {
  .main-block .main-block__container .main-block__body .main-block__buttons .main-block__button:not(:last-child) {
    margin-right: 20px;
  }
}
.main-block .main-block__container .main-block__body .main-block__buttons .main-block__button:hover, .main-block .main-block__container .main-block__body .main-block__buttons .main-block__button:focus {
  opacity: 0.9;
  transform: translate3d(0, -4px, 0);
}
.main-block .main-block__container .main-block__body .main-block__buttons .main-block__button:active {
  opacity: 1;
  transform: translate3d(0, 4px, 0);
}
@media screen and (max-width: 450px) {
  .main-block .main-block__container .main-block__body .main-block__buttons .main-block__button {
    flex: 1 1 100%;
  }
}
.main-block .main-block__container .main-block__body .main-block__buttons .main-block__button_border {
  color: #0D5C63;
  background-color: transparent;
  border: 1px solid #0D5C63;
}
.main-block .main-block__container .main-block__body .main-block__buttons .main-block__button_border:hover, .main-block .main-block__container .main-block__body .main-block__buttons .main-block__button_border:focus {
  background-color: #0D5C63;
  color: #FFFFFF;
}
.main-block .main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1300px) {
  .main-block .main-block__image img {
    object-position: right;
  }
}
@media screen and (max-width: 990px) {
  .main-block .main-block__image img {
    opacity: 0.5;
  }
}

/*Services*/
@media (min-width: 770px) {
  .services .services__container .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
  }
}
.services .services__container .services__body .services__column {
  padding: 0 15px 30px;
  flex: 0 1 33.333%;
}
@media (max-width: 990px) {
  .services .services__container .services__body .services__column {
    flex: 0 1 50%;
  }
  .services .services__container .services__body .services__column:last-child {
    flex: 0 1 100%;
  }
}
.services .services__container .services__body .services__column .item-service *:not(:last-child) {
  padding-bottom: 10px;
}
.services .services__container .services__body .services__column .services__item {
  height: 100%;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  transition: 0.2s ease;
}
.services .services__container .services__body .services__column .services__item:hover {
  background-color: #0D5C63;
}
.services .services__container .services__body .services__column .services__item:hover .item-service__icon .item-service_white {
  display: block;
}
.services .services__container .services__body .services__column .services__item:hover .item-service__icon .item-service_blue {
  display: none;
}
.services .services__container .services__body .services__column .services__item:hover .item-service__title {
  color: #FFFFFF;
}
.services .services__container .services__body .services__column .services__item:hover .item-service__text {
  color: #FFFFFF;
}
.services .services__container .services__body .services__column .services__item .item-service__icon {
  height: 48px;
}
.services .services__container .services__body .services__column .services__item .item-service__icon .item-service_white {
  display: none;
}
.services .services__container .services__body .services__column .services__item .item-service__title {
  color: #252B42;
}
@media (max-width: 450px) {
  .services .services__container .services__body .services__column .services__item .item-service__title {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .services .services__container .services__body .services__column .services__item .item-service__text {
    font-size: 12px;
  }
}

/*Footer*/

/*# sourceMappingURL=style.css.map */
